<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/main.css">
        {{#if extraStyleSheet}}
            <link rel="stylesheet" href="{{extraStyleSheet}}">
        {{/if}}
        <title>{{title}}</title>
    </head>
    <body>
    <a href="/">
<header id="main-header">
         Cubo Cósmico
    </header>

    {{#if navBar}}

    <div class="link-list-frame">

    <ul class="link-list">
        {{#each navBar}}

    <li class="link-list-element">
    <a href="{{href}}" data-test-id="{{testId}}">{{title}}</a>
    </li>
        {{/each}}
    </ul>
    </div>
{{/if}}
</a>        {{{body}}}
    </body>
</html>
