<h1 class="subtitle">
  Acerca del sitio
</h1>

<div class="content">
  {{!  <img src="img/mostacho.png" alt="" />  }}
  <p>
    Frase del día
    <blockquote>
      {{phrase}}
    </blockquote>
  </p>
  <hr />

  <p>
    En este sitio hablo de cosas que me interesan. Código, proyectos de 
  hardware y mis pensamientos. Con el tiempo hablaré de mis recetas, literatura 
  y otras cosas.
  </p>
  <div id="saySomethingFormContainer">
    <form role="form">
      <input type="text" id="saySomething" name="message" />
      <button type="submit" id="sendButton">
        Dime algo
      </button>
    </form>
  </div>

  <script>
    document.getElementById("saySomethingFormContainer")
    .addEventListener('submit', evt =>{
        evt.preventDefault();
        console.log("GOt here");
        const form = evt.target;
        const body = JSON.stringify({
            message: form.elements.message.value
        });

        const headers = {
            'Content-Type': 'application/json'
        };

        const container = document.getElementById('saySomethingFormContainer');
        fetch('/api/send-message', {
            method: 'post', body, headers}).then( (resp) =>{
                if(resp.status < 200 || resp.status >= 300){
                    throw new Error(`Request failed with status ${resp.status}`);
                }
                return resp.json()
            }).then( (json) =>{
                console.log("Se arma");
                container.innerHTML = '<b>Gracias, vuelve pronto</b>';
            }).catch( (err) =>{
                container.innerHTML = '<b>Lo siento, inténtalo más tarde</b>';
            });
    });
  </script>
</div>
