<h1 class="subtitle">
  Blog
</h1>
<div class="content">
  {{#each entries}}
    <h2>
      {{title}}
    </h2>
    <i>
      {{date}}
    </i>
    <hr />

    <p>
      {{{body}}}
    </p>
  {{/each}}
</div>
