<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<h1 class="subtitle">Música</h1>
<div class = "musicListContainer">
    <a href="#0"><h1 class="subtitle">Spotify</h1></a><ul class="musicList">
    {{#each musicList}}
    <a href="{{trackUrl}}">
<li class="track">
            <img src="{{thumbnailUrl}}" alt="No img" class="albumThumbnail">
            {{name}} - {{author}}
    </br class="clearBoth">
</li>
</a>{{/each}}
</ul>
</div>
</body>
</html>
