<h1 class="subtitle">
  Software
</h1>

<ul>
  <li class="project-item">
    Este sitio
  </li>
  <li class="project-item">
    Implementación paralela de
    <i>
      k-means
    </i>
  </li>
  <li class="project-item">
    Me la jalo diario
  </li>
  <li class="project-item">
    He cocinado un chingo de cosas
  </li>
  <li class="project-item">
    Provecho
  </li>
</ul>
