@font-face {
    font-family: Goldoni;
    src: url('../fonts/Goldoni.otf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: Radley;
    src: url('../fonts/Radley-Regular.ttf');
}

@font-face {
    font-family: Radley-Italic;
    src: url('../fonts/Radley-Italic.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Radley&display=swap'); */

.content{
    margin-left: 80px;
    margin-right: 80px;
}

.content p{
        font-size: 15px;
        text-align: justify;
        font-family: Radley, arial;
        padding-left: 30px;
        padding-right: 30px;
}

.content i{
    font-family:Radley;
}

.content h2 {
    font-family: Radley;
    font-size: 30;
}


body{
    background: #fffff1;
}

#main-header{
    padding-left: 10px;
    padding-right:10px;
    margin: 20px;
    border-width: 5px;
    border-style:solid;
    border-color: #000000;
    text-align: left;
    background: #00a96b;
    color: #000000;
    font-size: 50px;
    font-family: Radley;
    font-style:bold;
    height: auto;
    width: max-content;
}

#main-header:hover{

    background: #000000;
    color: #FFFFFF;
    background-size:auto;
    /* background-repeat:no-repeat; */
    /* width: 00%; */
    background-size: 600px auto;
    background-position: left bottom;
    font-family: Roboto;

    
}
.subtitle{
    background:#0258ad;
    border-style: solid;
    border-width:3px;
    border-color:#000000;
    margin: 40px;
    width: max-content;
    padding-left : 10px;
    padding-right : 10px;
    font-family: Radley;
}

img {
    max-width : 10%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-style: solid;
    border-width: 3px;
    font-family: Radley;
}

.link-list-frame{
    font-family: Radley, serif;
    font-weight: 900;
    /* font-style:italic; */
    font-size: 17px;
    margin:0;
    padding: 0px;
}

.link-list{
    list-style:none;
}

.link-list-element{
    background: #a91900;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    color: #000000;
    border: 3px;
    border-style:solid;
    border-color: #000000;
}

a:visited{
    text-decoration: none;
}

div ul li:hover{
    background: #EFA800;
    color: #000000;
}


